#boss{
    display: flex;
    justify-content: center;
    
}





#container{
    height: 748px;
    width: 748px;
    background-color: #000;
    display: grid;
    grid-template-columns: 320px 419px;
    grid-template-rows: 414px 325px;
    gap: 9px;
    
    

}

#a{
    background-color: #E72F24;
   
}

#b{
    background-color: #F0F1EC;

}

#c{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 296px 20px;
    gap: 9px;
}
#d{
    display: grid;
    gap: 9px;
    grid-template-columns: 360px 50px;


}

#a1{
    background-color: #F0F1EC;
    
}

#a2{
    background-color: #F0F1EC;
    
}

#d1{
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 296px 20px;
    gap: 9px;
}

#d11{
    background-color: #F0F1EC;
}

#d12{
    display: grid;
    grid-template-columns: 198px 153px;
    grid-template-rows: 20px;
    gap: 9px;
}

#d121{
    background-color: #F9D01E;
}

#d122{
    background-color: #232629;
}

#d2{
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 130px 186px;
    gap: 9px;
}

#d21{
    background-color: #004592;
    border-bottom: 10px solid #000;
    
}

#d22{
    background-color: #F0F1EC;
}